= form_for( song ) do |s|
  %tr
    %td= link_to song.performer, song
    - if upcoming
      %td
        = button_to @upcoming[ 0 ].url, onClick: "takeActionOnSong('finish',#{@upcoming[ 0 ].id})", class: "song-action btn-discreet", id: "finish-#{@upcoming[ 0 ].id}", target: "_blank" do
          %span
            %svg{viewbox: "0 0 512 512", xmlns: "http://www.w3.org/2000/svg"}
              / !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.
              %path{d: "M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"}
          %span Start
    - else
      %td
    %td= button_to ( song.skipped ? "Resume" : "Skip" ), skip_song_path(song), onClick: "takeActionOnSong('skip',#{song.id})", class: "skip-song btn-discreet", id: "skip-#{song.id}"
    %td
      = link_to edit_song_path(song), class: "song-action btn-discreet" do
        %span
          %svg{viewbox: "0 0 512 512", xmlns: "http://www.w3.org/2000/svg"}
            / !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.
            %path{d: "M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"}
        %span Edit
    %td
      = link_to song, method: :delete, data: { confirm: 'Are you sure?' }, class: "song-action btn-discreet" do
        %span 
          %svg{height: "16", viewbox: "0 0 512 512", width: "16", xmlns: "http://www.w3.org/2000/svg"}
            / !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.
            %path{d: "M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"}

        %span Destroy
:javascript 
  function takeActionOnSong( action, id ) {
    fetch(`/${action}_song?id=${id}`, {
      method: 'get',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(response => console.log(JSON.stringify(response)))
    .then(response => location.reload());
  };
