<p id="notice"><%= notice %></p>

<h1>Queue A New Song</h1>

<%= render 'form', song: @song, index_page: true %>

<br>
<br>

<h1>Upcoming Performers</h1>
<table>
  <%= render 'table_headers' %>
  <tbody>
    <% if @upcoming[ 0 ]%> 
      <%= render 'index_form', song: @upcoming[ 0 ], upcoming: true %>
    <% end %>
    <% if @upcoming[ 1.. ]%>
      <% @upcoming[ 1.. ].each do | song | %>
        <%= render 'index_form', song: song, upcoming: false %>
      <% end %>
    <% end %>
    <% @skipped.each do | song | %>
      <%= render 'index_form', song: song, upcoming: false %>
    <% end %>
  </tbody>
</table>

<br>

<h1>Finished Performers</h1>
<table>
  <%= render 'table_headers' %>
  <tbody>
    <% @finished.each do |song| %>
      <%= render 'index_form', song: song, upcoming: false %>
    <% end %>
  </tbody>
</table>

<br>

<%= javascript_tag do %>
  let songId = document.getElementsByClassName("finish-song")[0].id
  function finishSong() {
    fetch(`/finish_song?id=${songId}`, {
        method: 'get',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    })
      .then(response => response.json())
      .then(response => console.log(JSON.stringify(response)))
      .then(response => location.reload());
  };
<% end %>